.tariffList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.highlighted {
    background-color: #ffd700;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 220px;
    height: 340px;
}