.tariff-item {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px; /* Добавляем маргин между карточками */
}
.tariff-item:nth-child(3) {
    background-color: #ffd700 !important; /* Желтый цвет */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important; /* Тень */
    width: 220px !important; /* Увеличиваем ширину */
    height: 300px !important; /* Увеличиваем высоту */
}
.tariff-name {
    font-size: 20px;
}
.tariff-price {
    font-size: 24px;
    font-weight: bold;
}
.tariff-description {
    font-size: 16px;
}